* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: rgb(236, 236, 236);
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

ul {
  display: flex;
  gap: 0;
  align-self: center;
}

li {
  background-color: rgb(243, 243, 243);
  margin-top: 40px;
  margin-left: 40px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #16161d;
  box-shadow: #16161d;
  padding: 10px 20px;
}

a:active {
  background-color: transparent;
}
